#add-email.container
  h1 Enter your Email
  = form_for(@user, url: confirm_email_path(@user)) do |f|
    .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control input-lg'
      = f.label :email
      = f.text_field :email, required: true, autofocus: true, value: '', class: 'form-control input-lg', placeholder: 'Example: email@test.com'
      = f.hidden_field :password
    .actions
      p.help-block Please confirm your email address after continue.
      = f.submit 'Continue', class: 'btn btn-primary'
