.voting id="vote-for-#{ votable.class.name.downcase }-#{ votable.id }"
  span class="result-vote-for-#{ votable.class.name.downcase } tag tag-default tag-pill"
    = votable.total
  = voting_buttons(votable)
